header {
    .menu {
        ul{
            display: flex;
            gap:24px;
            li {
                a {
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--black);
                }
            }
        }

    }
}